* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: linear-gradient(
    135deg,
    #f8f9ff 0%,
    #fff5ec 40%,
    #ffffff 100%
  );

  --text-color: #111;
  --muted-text: #555;
  --card-bg: rgba(255,255,255,0.7);
  --primary-gradient: linear-gradient(135deg, #ff9800, #ff3c78);
  --button-text: #ffffff;
}

[data-theme="dark"] {
  --bg-color: linear-gradient(
    135deg,
    #0f172a 0%,
    #111827 40%,
    #1e293b 100%
  );

  --text-color: #ffffff;
  --muted-text: #cbd5e1;
  --card-bg: rgba(30,41,59,0.6);
  --button-text: #ffffff;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.4s ease, color 0.4s ease;
}
