:root {
  --nav-bg: #0b1220;
  --text: #ffffff;
  --muted: #cfd6e1;
  --bg: #050b18;
}

body.dark {
  background: radial-gradient(circle at top left, #1a2a3a, #050b18);
}

body.light {
  --nav-bg: #ffffff;
  --text: #000;
  --muted: #444;
  background: #f5f5f5;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
